table.ingredient{
  border: 1px silver solid;
  border-collapse: collapse;
  border-left: none;
  border-right: none;
  padding: 0.3em;
}
table.ingredient th{
  border: 1px silver solid;
  border-collapse: collapse;
  border-left: none;
  border-right: none;
  padding: 0.3em;
}
table.ingredient td{
  border: 1px silver solid;
  border-collapse: collapse;
  border-left: none;
  border-right: none;
  padding: 0.3em;
}
table.ingredient2{
  border: 2px silver solid;
  border-collapse: collapse;
}
table.ingredient2 th{
  border: 1px silver solid;
  border-collapse: collapse;
  border-left: none;
  border-right: none;
}
table.ingredient2 td{
  border: 1px silver solid;
  border-collapse: collapse;
  border-left: none;
  border-right: none;
}
