html{
  background-color: #fffdf2
}
header {
  min-width: 750px;
}

.main {
  max-width: 1000px;
  margin: 0 auto;
}

.container {
  display: flex;
}
.recipe-name {
    width: 100%;
    min-width: 500px;
}
.recipe-photo {
  width: 50%;
}
.recipe-ingredient {
  width: 50%;
}
.recipe-text {
  width: 100%;
}
