.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  background-color: #fffdf2
}
header {

}
.container {
  display: flex;
}
.recipe-photo {
  width: 50%;
}
.recipe-ingredient {
  width: 50%;
}
.recipe-text {
  width: 100%;
}

body{

}
